.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.BodyContent{
    text-align: left;
    width: 80vmax;
    margin: 0 auto;
}

.MainContainer{
    display:flex;
    width:60%;
    justify-content:space-between;
}
.addBtn{
    width:8rem;
    height:4rem;
    background-color: #23C4DC;
    font-weight: bold;
    font-size: 20px;
    cursor:pointer;
    border-radius:8px;
    margin-top:2rem
}

.Stats >p{
    font-weight: bold;
}
.DealParagraph{
    cursor:pointer;
}


.Input{
    min-height: 18px;
    margin-right:10px;
    padding:5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
